<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Detail</title>
  </head>
  <body>
    <h1>User Detail</h1>
    <div class="user-profile">
      <img
        src="{{ user.image_url }}"
        alt="Profile Photo"
        width="200"
        height="200"
      />
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
      <a href="/user-edit/{{ user.id }}">Edit User</a><br />
      <a href="/user-list">Go Back</a>
    </div>
  </body>
</html>
