<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <title>User List</title>
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      {% for user in users %}
      <li>
        <td>
          <a class="remove-link" href="/remove-user/{{user.id}}"
            ><i class="fas fa-trash"></i
          ></a>
        </td>
        <a href="/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="user-create">Add another user</a><br />
    <a href="/">Go Back</a>
  </body>
</html>
